#forefront-element::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: URL("/images/NC.jpg");
    overflow-y: scroll;
    background-size: cover;
    transform-origin: center 10% 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 200vh;
}

#forefront-element {
    margin-top: 100px;
}

.base-element {
-webkit-transform: translateZ(0);
transform: translateZ(0);
z-index: 3;
}

.content {
    border-radius: 25px;
    background-color:rgba(128,128,128, .4);
    padding: 20px;
    z-index: 4;
}
.internal {
    opacity: 1;
    z-index: 5;

}

html {
    height: 100%;
    overflow-y: hidden
}

body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    font-size: 4rem;
}