#forefront-element0::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: URL("/images/NC.jpg");
    overflow-y: scroll;
    background-size: cover;
    transform-origin: center 22% 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 280vh;
    min-width: 100vw;
}

#forefront-element1::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: URL("/images/climbing1.png");
    overflow-y: scroll;
    background-size: cover;
    transform-origin:center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 280vh;
    min-width: 80vw;
}

#forefront-element2::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: URL("/images/climbing2.png");
    overflow-y: scroll;
    background-size: cover;
    transform-origin:center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 200vh;
    min-width: 100vw;
}

#forefront-element3::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: URL("/images/climbing3.png");
    overflow-y: scroll;
    background-size: cover;
    transform-origin:center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 280vh;
    min-width: 100vw;
}

#forefront-element0 {
    margin-top: 100px;
}

#forefront-element1 {
    margin-top: 100px;
}

#forefront-element2 {
    margin-top: 100px;
}

#forefront-element3 {
    margin-top: 100px;
}

.base-element {
-webkit-transform: translateZ(0);
transform: translateZ(0);
z-index: 3;
}

.content {
    border-radius: 25px;
    background-color:rgba(128,128,128, .4);
    padding: 20px;
    z-index: 4;
}
.internal {
    opacity: 1;
    z-index: 5;

}

html {
    height: 100%;
    overflow-y: hidden;
    overflow-x: visible;
}

body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem
}

a {
    color: black
}

p {
    font-size: 1.7rem;
}

.preload {
    display: none;
}